{{- /* Post thumbnail: static/images/thumbs/<slug>.jpg, then <slug>.svg, then default.svg */ -}}
{{- $path := "images/thumbs/default.svg" -}}
{{- with .File -}}
  {{- $jpg := printf "images/thumbs/%s.jpg" .ContentBaseName -}}
  {{- $svg := printf "images/thumbs/%s.svg" .ContentBaseName -}}
  {{- if fileExists (printf "static/%s" $jpg) -}}
    {{- $path = $jpg -}}
  {{- else if fileExists (printf "static/%s" $svg) -}}
    {{- $path = $svg -}}
  {{- end -}}
{{- end -}}
<img class="thumb" src="{{ $path | relURL }}" alt="" aria-hidden="true" loading="lazy">
